<section class="header clearfix">
  <div class="pull-left">
    <h1 class="vertical-middle">
      {{t 'pipelineTemplate.add.header'}}
    </h1>
  </div>
</section>
{{pipeline-template-input model=model}}