<section class="header clearfix">
  <h1>{{t 'harbor.project.header' name=title}}</h1>
</section>
<section class="instances">
  {{project-table
    body=model
    bulkActions=false
    search=true
    paging=true
  }}
</section>