<h2>
  子线设置
</h2>

<div class="row">
  <label class="acc-label pb-5">
    子路径
  </label>
  {{input
    class="form-control"
    value=subPath
    placeholder='指定代码仓库的文件夹路径，不指定则为最顶层目录'
  }}
</div>
<div class="row">
  {{input type="checkbox" checked=isContextPath }}
  <label class="acc-label pb-5">
    是否设置为构建上下文
  </label>
</div>
{{top-errors errors=errors}}
{{save-cancel
  createLabel="generic.add"
  save=(action "save")
  cancel=(action "cancel")
}}
